export default defineConfig({
  base: "/showey_hub/",          // 👈 AGREGA ESTA LÍNEA (usa el nombre de TU repo)
  plugins: [react(), tailwindcss(), viteSingleFile()],
  resolve: {
    alias: {
      "@": path.resolve(__dirname, "src"),
    },
  },
});
git init
git add .
git commit -m "primer deploy"
git branch -M main
git remote add origin https://github.com/andrespro150221-prog/SHOWEY_HUB/edit/main/.gitignore
git push -u origin main
